:root {
    --font-family: 'Trebuchet MS', Sans-Serif;
    --primary-color: #31343c;
    --secondary-color: #9ecacc;
    --border-radius: 4px;
    --background-color: #EDEDF5;
    --text-color: #485873;
  }
  
  * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
  
    body {
      background-color: var(--background-color);
      color: var(--text-color);
      font-family: var(--font-family);
    }

    /* Header title and navigation */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

    /* Render the heading on a secondary colour background to the left of the screen */

  header h1 {
    font-size: 2.5em;
    width: 400px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    text-align: right;
    padding: 10px 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  header nav {
    display: flex;
    height: 100%;
    margin-right: 20px;
  }

  header nav ul {
    display: flex;
    list-style-type: none;
  }

  header nav ul li {
    display: flex;
    margin-left: 25px;
  }

  header nav ul li a {
    color: var(--secondary-color);
    font-size: 1.4em;
    padding: 0 10px 10px 10px;
    border-bottom: 4px solid var(--secondary-color);
    text-decoration: none;
  }